<!-- 
<div class="container-fluid" *ngIf="showFlag; else temp">
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0">
    <h1 class="white-text">Hi! I'm 
      <span>Jerome</span>
    </h1>
    <span class="lead" style="color:#FFF6D8; overflow-wrap: break-word">I'm a Web Developer and a Technical Writer</span>
  </div>
  <div class="jumbotron jumbotron-fluid" style="padding-top:0">
    <nav class="navbar">
      <ul class="navbar-nav" id="link-nav" style="width:30%">
        <li class="nav-item">
          <span>
            <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(1)">About Me</a>
            <hr>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(2)">Where I've Been</a>
            <hr>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(3)">My Qualifications</a>
            <hr>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(4)">Get in Touch</a>
            <hr>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>
<ng-template #temp>
  <app-story *ngIf="templateCompName === 'story'"></app-story>
  <app-work *ngIf="templateCompName === 'work'"></app-work>
  <app-certification *ngIf="templateCompName === 'certs'"></app-certification>
  <app-contact *ngIf="templateCompName === 'contact'"></app-contact>
</ng-template>
 -->

<div class="table-responsive-xl container-fluid">
  <table class="table" style="text-align: center" *ngIf="showFlag; else temp">
    <tr>
      <th>
        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0">
          <h1 class="white-text">Hi! I'm 
            <span>Jerome</span>
          </h1>
          <span class="lead" style="color:#FFF6D8; overflow-wrap: break-word">I'm a Web Developer and a Technical Writer</span>
        </div>
      </th>
    </tr>
    <tr style="display: inline-block">
      <div class="jumbotron jumbotron-fluid" style="padding-top:0">
        <nav class="navbar">
          <ul class="navbar-nav" id="link-nav">
            <li class="nav-item">
              <span>
                <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(1)">About Me</a>
                <hr>
              </span>
            </li>
            <li class="nav-item">
              <span>
                <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(2)">Where I've Been</a>
                <hr>
              </span>
            </li>
            <li class="nav-item">
              <span>
                <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(3)">My Qualifications</a>
                <hr>
              </span>
            </li>
            <li class="nav-item">
              <span>
                <a class="nav-link" href="javascript:void(0)" (click)="toggleComponent(4)">Get in Touch</a>
                <hr>
              </span>
            </li>
          </ul>
        </nav>
      </div>
    </tr>
  </table>
  <ng-template #temp>
    <app-story *ngIf="templateCompName === 'story'"></app-story>
    <app-work *ngIf="templateCompName === 'work'"></app-work>
    <app-certification *ngIf="templateCompName === 'certs'"></app-certification>
    <app-contact *ngIf="templateCompName === 'contact'"></app-contact>
  </ng-template>
</div>