.container-fluid {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    margin-top: 15%;
    margin-left: 36%;
    pointer-events: all;
}

.white-text {
    color:#FFF6D8;
    span {
        color:#B52F11;
    }
}

.jumbotron {
    background: transparent;
}

#link-nav {
    li {
        font-size: 15px;
        color: #FFF6D8;
    }

    hr {
        clear:both;
        display:block;
        background-color:#FFF6D8;
        height: 1px;
    }

    a {
        color: #FFF6D8;
    }
}
