.field {
    margin: 5%
}

.heading-container {
    text-align: justify;
    color: #FFF6D8;
    padding: 5%;
}

.buttons {
    height: auto;
    width: 50px;
}

.button-desc {
    margin-top: 10%;
    text-align: center;
}