<div class="container mt-5 mb-5">
	<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0">
		<h2 class="white-text">This is me
			<hr>
			<span>in not so many words...</span>
		</h2>
		<hr>
		<span class="lead" style="color:#FFF6D8; overflow-wrap: break-word;">
			<hr>
			I'm a problem solver. I love figuring out how stuff works, and how I can make them better.
			<hr>
			I started working towards my goal as a coder by working as a Technical Writer and enrolling in a CS Degree program. 
			<br>
			The job helped me understand the perspectives of users, as well as the engineers behind the scenes. The degree helped me build a developer's foundation.
			<hr>
			I then started working on smaller tasks that required code, such as the automation of workflows such as unit testing, and api testing. 
			<hr>
			As a Developer, I've had the opportunity to work on a lot of interesting projects and technologies.
			<br>
			This allowed me to work with languages such as PHP, Javascript, Java and C#.
			<br>
			I was also able to work with frameworks such as Angular and React.
			<br>
			Working with databases such as SQL and MongoDB was fun too!
			<hr>
			A challenge I've recently faced is learning how a project goes from being an idea or concept, to an actual product or service. 
			This challenge gave me valuable insights and experience in the various facets of getting a project off the ground. 
			<br>
			From the planning phase, to resource allocation and task management. 
		</span>
		<hr>
		<hr>
		<div class="button-desc">
			<span>
				<a href="/">
					<img class="buttons" src="../../assets/img/iconfinder_web_10_3924905.svg">
				</a>
			</span>
		</div>
	</div>
</div>